.form-container {
  width: 100%;
  margin-top: 80px;
  /* border: 1px solid rebeccapurple; */
}
.form-container form {
  max-width: 400px;
  margin: 0 auto;
}
.input-field {
  width: 100%;
}

.input-field label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 8px;
}
.input-field input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}
form button {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #2200fd;
  color: white;
  border: none;
}
form button:hover {
  background-color: #5e4cd3;
  border: none;
}
