.main-container {
  width: 100%;
  padding-top: 60px;
  min-height: 80vh;
  /* border: 1px solid red; */
}
.form-container {
  width: 23%;
  min-height: 100%;
  margin: auto;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
}
.form-container form {
  max-width: 400px;
  margin: 10px auto;
}
.input-field {
  margin-top: 10px;
  width: 100%;
}

.input-field label {
  display: block;
  font-size: 1.5rem;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}
.input-field input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight:100;
}
form button {
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #2200fd;
  color: white;
  border: none;
}
form button:hover {
  background-color: #391ee7;
  border: none;
}
.title {
  color: #391ee7;
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: center;
  transition: all 0.5s;
}
.title:hover {
  color: #1e5ae7;
  text-decoration: underline;
}
