* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-color: #f4f7f8;
  --background-color: #225461;
}

body {
  color: var(--main-color);
  background-image: url('../assets/Images/Background92.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

  width: 100vw;
  height: 100vh;

}
